Repository RanolP/kati.nanno.space: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format-check

lint:
  run: pnpm turbo run check:lint -- {staged_files}
  stage_fixed: true

format-check:
  run: pnpm turbo run check:fmt -- {staged_files}

chore: gitignore .turbo cache directories
  .gitignore
  apps/crawler/.turbo/turbo-check$colon$fmt.log
  apps/crawler/.turbo/turbo-check$colon$lint.log
  apps/crawler/.turbo/turbo-check$colon$type.log
  apps/website/.turbo/turbo-check$colon$fmt.log
  apps/website/.turbo/turbo-check$colon$lint.log
  apps/website/.turbo/turbo-check$colon$type.log
Due: none

feat(crawler): add pipeline system with generator DSL
  .oxlintrc.json
  CLAUDE.md
  apps/crawler/package.json
  apps/crawler/src/pipeline/index.ts
  apps/crawler/src/pipeline/lock-manager.ts
  apps/crawler/src/pipeline/primitives.ts
  apps/crawler/src/pipeline/runner.ts
  apps/crawler/src/pipeline/types.ts
  apps/crawler/tsconfig.json
  apps/website/package.json
  apps/website/src/.gitkeep
  apps/website/src/index.ts
  apps/website/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: lint, format-check

chore: disable import/no-nodejs-modules and configure no-duplicate-imports
  .oxlintrc.json
Due: format-check

feat(crawler): add generic endpoint and fetcher abstraction
  apps/crawler/src/services/endpoint.ts
Due: lint, format-check

feat(crawler): add Illustar-Fes API service integration
  apps/crawler/src/services/illustar/codes.ts
  apps/crawler/src/services/illustar/define.ts
  apps/crawler/src/services/illustar/endpoints.ts
  apps/crawler/src/services/illustar/index.ts
  apps/crawler/src/services/illustar/interceptor.ts
Due: lint, format-check

chore: disable max-dependencies and no-immediate-mutation lint rules
  .oxlintrc.json
Due: format-check

feat(crawler): add void-input overload to Fetcher interface
  apps/crawler/src/services/endpoint.ts
Due: lint, format-check

feat(crawler): add Ink-based terminal UI for action status display
  apps/crawler/package.json
  apps/crawler/src/app/types.ts
  apps/crawler/src/ui.tsx
  apps/crawler/tsconfig.json
  pnpm-lock.yaml
Due: lint, format-check

feat(model): add nullable, enum object, and simpleSet scalar builders
  apps/crawler/src/features/model/builders.ts
Due: lint, format-check

refactor(crawler): distinguish path and query params in endpoint definitions
  apps/crawler/src/services/illustar/define.ts
  apps/crawler/src/services/illustar/endpoints.ts
Due: lint, format-check

feat(crawler): show child steps in terminal UI with error display
  .oxlintrc.json
  apps/crawler/src/app/types.ts
  apps/crawler/src/ui.tsx
Due: lint, format-check

refactor(crawler): encapsulate illustar crawl orchestration
  apps/crawler/src/app/illustar.ts
  apps/crawler/src/main.ts
Due: lint, format-check

feat(action): add useContext primitive for dependency injection
  apps/crawler/src/features/action/index.ts
  apps/crawler/src/features/action/primitives.ts
  apps/crawler/src/features/action/runner.ts
  apps/crawler/src/features/action/types.ts
  apps/crawler/src/services/endpoint.ts
Due: lint, format-check

refactor(crawler): use useContext for fetcher in illustar actions
  apps/crawler/src/app/illustar.ts
  apps/crawler/src/main.ts
Due: lint, format-check

refactor(crawler): make crawlCircles depend on crawlEvents result
  apps/crawler/src/app/illustar.ts
Due: lint, format-check

feat(task): add DAG-based task system
  apps/crawler/src/features/task/index.ts
  apps/crawler/src/features/task/primitives.ts
  apps/crawler/src/features/task/runner.ts
  apps/crawler/src/features/task/session.ts
  apps/crawler/src/features/task/types.ts
Due: lint, format-check

fix(ui): display task-level error stack trace when expanded
  apps/crawler/src/ui.tsx
Due: lint, format-check

feat(ui): show task duration and sort by dependencies
  apps/crawler/src/app/types.ts
  apps/crawler/src/features/task/runner.ts
  apps/crawler/src/features/task/types.ts
  apps/crawler/src/ui.tsx
Due: lint, format-check

fix(ui): prevent duplicate event subscription and use valibot flatten
  apps/crawler/src/ui.tsx
Due: lint, format-check

fix(schema): allow string or number for ImageInfo.parent_table_key
  apps/crawler/src/app/models/illustar.ts
  apps/crawler/src/features/model/builders.ts
  apps/crawler/src/services/illustar/endpoints.ts
Due: lint, format-check

feat(crawler/model): add nullable model builder
  apps/crawler/src/features/model/builders.ts
  apps/crawler/src/features/model/deserialize.ts
  apps/crawler/src/features/model/index.ts
Due: lint, format-check

chore: disable pedantic lint rules
  .oxlintrc.json
Due: format-check

refactor(crawler): minor code cleanup
  apps/crawler/src/features/task/session.ts
  apps/crawler/src/ui.tsx
Due: lint, format-check

feat(crawler/task): add automatic persistence on task success
  apps/crawler/src/features/task/index.ts
  apps/crawler/src/features/task/primitives.ts
  apps/crawler/src/features/task/runner.ts
  apps/crawler/src/features/task/session.ts
  apps/crawler/src/features/task/types.ts
Due: lint, format-check

refactor(crawler): use declarative persist config for tasks
  apps/crawler/src/app/illustar.ts
  apps/crawler/src/main.ts
Due: lint, format-check

refactor(crawler/task): rename useContext to TaskContext
  apps/crawler/src/features/task/index.ts
  apps/crawler/src/features/task/primitives.ts
Due: lint, format-check

refactor(crawler/illustar): convert date strings to Unix timestamps
  apps/crawler/src/app/models/illustar.ts
  apps/crawler/src/services/illustar/endpoints/concert.ts
  apps/crawler/src/services/illustar/schemas.ts
Due: lint, format-check

chore(data): add crawled illustar JSONL data files
  data/illustar/circles.jsonl
  data/illustar/concerts.jsonl
  data/illustar/events.jsonl
  data/illustar/ongoing-booth-info.jsonl
  data/illustar/schedule.jsonl
Due: none

refactor(website): make SQL shell the landing page with parquet loading
  apps/website/src/app/components/sql-shell.client.tsx
  apps/website/src/app/components/sql-shell.tsx
  apps/website/src/app/lib/duckdb/context.tsx
  apps/website/src/app/routes/_index/page.tsx
  apps/website/src/app/routes/sql/page.tsx
Due: lint, format-check

chore(website): add parquet data files to public directory
  apps/website/public/data/circles.parquet
  apps/website/public/data/concerts.parquet
  apps/website/public/data/events.parquet
  apps/website/public/data/ongoing_booth_info.parquet
Due: none

chore(projections): update parquet outputs and add ongoing_booth_info
  apps/projections/out/illustar/circles.parquet
  apps/projections/out/illustar/concerts.parquet
  apps/projections/out/illustar/events.parquet
  apps/projections/out/illustar/ongoing_booth_info.parquet
  apps/projections/out/illustar/tmp_concerts.parquet
Due: none

fix(website): bundle DuckDB worker locally to avoid CORS issues
  apps/website/src/app/lib/duckdb/context.tsx
Due: lint, format-check

refactor(projections): output parquet files to website/public/data
  apps/projections/illustar/circles.sql
  apps/projections/illustar/concerts.sql
  apps/projections/illustar/events.sql
  apps/projections/illustar/ongoing_booth_info.sql
  apps/projections/illustar/schedule.sql
  apps/projections/out/illustar/circles.parquet
  apps/projections/out/illustar/concerts.parquet
  apps/projections/out/illustar/events.parquet
  apps/projections/out/illustar/ongoing_booth_info.parquet
  apps/projections/run.sh
  apps/website/.gitignore
  apps/website/public/data/circles.parquet
  apps/website/public/data/concerts.parquet
  apps/website/public/data/events.parquet
  apps/website/public/data/ongoing_booth_info.parquet
  apps/website/src/app/components/sql-shell.tsx
  apps/website/src/app/lib/duckdb/context.tsx
Due: lint, format-check

refactor(website): simplify SQLRooms integration following official guide
  .oxlintrc.json
  apps/website/package.json
  apps/website/react-router.config.ts
  apps/website/src/app/app.css
  apps/website/src/app/components/data-panel.tsx
  apps/website/src/app/components/data-sources-panel.tsx
  apps/website/src/app/components/main-view.tsx
  apps/website/src/app/components/room.client.tsx
  apps/website/src/app/components/room.tsx
  apps/website/src/app/components/sql-panel.tsx
  apps/website/src/app/components/sql-shell.client.tsx
  apps/website/src/app/components/sql-shell.tsx
  apps/website/src/app/lib/duckdb/context.tsx
  apps/website/src/app/lib/sqlrooms/store.ts
  apps/website/src/app/lib/store.ts
  apps/website/src/app/routes/_index/page.tsx
  apps/website/vite.config.ts
  pnpm-lock.yaml
Due: lint, format-check

feat(website): use @sqlrooms/schema-tree for column display in sidebar
  apps/website/package.json
  apps/website/src/app/components/data-sources-panel.tsx
  apps/website/vite.config.ts
  pnpm-lock.yaml
Due: lint, format-check

feat(website): add circle card view with view mode switching
  apps/website/src/app/components/circle-card-view.tsx
  apps/website/src/app/components/main-view.tsx
Due: lint, format-check

feat(crawler): add ongoing_booth_info_id for joinable circles
  apps/crawler/src/app/illustar.ts
  apps/crawler/src/app/models/illustar.ts
  apps/crawler/src/features/model/serialize.ts
  apps/projections/illustar/circles.sql
Due: lint, format-check

chore(data): add ongoing_booth_info_id to circles, dedupe ongoing-booth-info
  data/illustar/circles.jsonl
  data/illustar/ongoing-booth-info.jsonl
Due: none

feat(website): add card view toggle for circle-like query results
  apps/website/src/app/components/circle-card-view.tsx
  apps/website/src/app/components/circle-card.tsx
  apps/website/src/app/components/main-view.tsx
  apps/website/src/app/components/query-result-view.tsx
Due: lint, format-check

style(website): make circle cards more compact with image fallback
  apps/website/src/app/components/circle-card.tsx
Due: lint, format-check

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format-check: any of: *.{js,ts,jsx,tsx,json,css,html}
